@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@300&display=swap');

:root {
  /* Base font size */
  /* font-size: 10px; */
  
  /* Set neon color */
  --neon-text-color: rgb(180, 63, 226);
  --neon-border-color: #08f;
}



.neon-about-section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    padding-bottom: 100px; 
    
}


.contact-social-media{
  display: flex;
  justify-content: center;
  padding-bottom: 100px; 
  
}

.neon-word {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 500;
      
}


.neon-word:focus {
  outline: none;
}

.neon-word2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 500;
  color: black;
      
}

.neon-word2::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.neon-word2::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.neon-word2:focus {
  outline: none;
}



@media (max-width: 551px) {

    .neon-word {
        padding: 3rem 3rem 3.5rem;
        font-size: 45px;   
    }

    .neon-word2 {
        padding: 3rem 3rem 3.5rem;
        font-size: 45px;   
    }
    
}